* {
}

:root {
  --primaryColor: #0042c8;
  --primaryTextColor: #152c5b;
  --secondaryTextColor: #717171;
}

body {
  font-family: "Poppins";
}

.web-name {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  padding-left: 150px;
  padding-right: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.navbar-item {
  color: var(--primaryTextColor);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.navbar-item-active {
  color: var(--primaryColor);
}

.navbar-right {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
}

.navbar-item:hover {
  color: var(--primaryColor);
}

.hero {
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  gap: 199px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.hero-text {
  gap: 10000px;
}

.hero-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  width: 430px;
  height: 420px;
  padding-right: 30px;
  border: 2px solid;
}

.hero-img {
  width: 400px;
  height: 400px;
  border-radius: 16px;
}

h1 {
  font-size: 40px;
  color: var(--primaryTextColor);
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sub-h1 {
  color: var(--secondaryTextColor);
  font-size: 18px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}

.primary-button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background-color: var(--primaryColor);
  text-decoration: none;
  margin-top: 12px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.section-popular-places {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
}

.section-header {
  color: var(--primaryTextColor);
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.places {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 29px;
}

.card-image {
  width: 263px;
  height: 350px;
  border-radius: 8px;
}

.card-title {
  color: var(--primaryTextColor);
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 0px;
}

.card-subtitle {
  color: var(--secondaryTextColor);
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 0px;
}

.section-comfort {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 120px 150px 0px 150px;
}

.comfort-categories {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-start;
  gap: 35px;
}

.card-comfort-img {
  width: 200px;
  height: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 120px 150px 8px 150px;
  gap: 12px;
  padding-bottom: 40px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  gap: 8px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.social-media {
  display: flex;
  gap: 2px;
  align-items: center;
}

.footer-icon {
  width: 40px;
  height: 40px;
}

.footer-text {
  color: var(--secondaryTextColor);
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  margin: 0px;
}

.footer-right {
  display: flex;
  gap: 56px;
}

.footer-right-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-right-detail-title {
  font-size: 16px;
  font-weight: 500;
  margin: 0px 0px 4px 0px;
}

.footer-bottom {
  text-align: center;
}
